{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'foodonators:pickup_change_list' %}">My Pickups</a></li>
      <li class="breadcrumb-item"><a href="{% url 'foodonators:pickup_change' pickup.pk %}">{{ pickup.name }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'foodonators:pickup_time_change' pickup.pk pickup_time.pk %}">{{ pickup_time.text }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Confirm deletion</li>
    </ol>
  </nav>
  <h2 class="mb-3">Confirm deletion</h2>
  <p class="lead">Are you sure you want to delete the pickup_time <strong>"{{ pickup_time.text }}"</strong>? There is no going back.</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger btn-lg">Yes, I'm sure</button>
    <a href="{% url 'foodonators:pickup_time_change' pickup.pk pickup_time.pk %}" class="btn btn-outline-secondary btn-lg" role="button">Nevermind</a>
  </form>
{% endblock %}
