{% extends 'base.html' %}

{% block content %}
  {% include 'food_platform/foodrivers/_header.html' with active='new' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Pickup</th>
          <th>Interested Area</th>
          <th>Length</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for pickup in pickups %}
          <tr>
            <td class="align-middle">{{ pickup.name }}</td>
            <td class="align-middle">{{ pickup.interested_area.get_html_badge }}</td>
            <td class="align-middle">{{ pickup.pickup_times_count }} pickup_times</td>
            <td class="text-right">
              <a href="{% url 'foodrivers:take_pickup' pickup.pk %}" class="btn btn-primary">Start pickup</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">No pickup matching your area right now.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
