<!-- {% extends 'base.html' %}

{% block content %}

<h2>My Profile</h2>
    <div class="col-md-4">
        <figure class="card card-product-grid card-lg" id="profile-card">

        </div>
                <figcaption class="info">
                    <a class="title">{{ user.first_name }} {{ user.last_name }}</a>
                    <p class="text-muted">Username: {{ user.username }}</p>
                    <p class="text-muted">Email: {{ user.email }}</p>
                    <p class="text-muted">City: {{ user.userprofile.location }}</p>
                    <p class="text-muted">Gender: {{ user.userprofile.gender }}</p>
                    <p class="text-muted">Age: {{ user.userprofile.age }}</p>
                </figcaption>
                <div class="bottom-wrap"> -->
